.header{
    
    width: 100%;
    &__nav{
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px 0px;
        position: fixed;
        z-index: 1;
       
        &-menu{
            &-list{
                display: flex;
                gap: 60px;
                padding: 20px 0px;

            }
            .menu-image{
                display: none;
            }

        }
        &-box{
           &-btn{
            font-size: 16px;
            padding: 15px 35px;
            color: #fff;
            border-radius: 6px;
            background: #0082F4;
            border: none;
           }
        }

    }
    &__hero{
        width: 100%;
        display: flex;
        padding: 120px 0px;
        &-left{
            padding: 0px 100px;
            &-style{
                font-size: 25px;
                padding: 30px 0px;
            }
            &-style2{
                font-size: 60px;
                padding: 10px 0px;
            }
            &-style3{
                font-size: 14px;
                padding: 30px 0px;
                color: rgb(131, 130, 130);
            }
            &-box{
                display: flex;
                gap: 40px;
                padding: 20px 0px;
                &-btnbtn{
                 border-radius: 10px;
                background: #0082F4;
                border: none;
                padding: 15px 30px;
                color: #fff;
                }
                &-btnbtn2{
                    display: flex;
                    gap: 10px;
                    p{
                        padding: 7px 0px;
                    }
                border-radius: 10px;
                background: #fff;
                border: 1px solid #0082F4;
                padding: 6px 15px;
                  
                }
            }
        }
        &-right{
            padding: 0px 100px 0px 0px;
        }
    }
}
 @media  screen and (max-width:560px) {
    .header{
        &__nav{
            justify-content: space-around;
            &-menu{
                &-list{
                    display: none;
                }
                .menu-image{
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }
            &-box{
                &-btn{
                    padding: 10px ;
                }
            }
        }
        &__hero{
            display: block ;
            &-left{
                padding: 0px 50px;
                &-style{
                    font-size: 20px;
                    padding: 15px 0px;
                }
                &-style2{
                    font-size: 50px;
                }
                &-style3{
                    font-size: 10px;
                }
                &-box{
                    gap: 15px;
                    
                    &-btnbtn{
                    padding: 10px 45px;
                       
                    }
                    &-btnbtn2{
                        padding: 5px 30px;
                        img{
                            padding: 5px 0px;
                        }
                    }
                }
            }
            &-right{
                padding: 10px 10px;
                &-image{
                  width: 100%;
                }
            }
        }
    }
 }